[submodule "deps/liburing"]
	path = deps/liburing
	url = https://github.com/axboe/liburing.git
[submodule "deps/thread-pool"]
	path = deps/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
